<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.natatorium.mapper.BusinessControlMapper">

    <resultMap id="BaseResultMap" type="com.example.natatorium.entity.BusinessControl">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="businessName" column="business_name" jdbcType="VARCHAR"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,business_name,remarks,
        status
    </sql>
</mapper>
